<!-- app/templates/home/admin_dashboard.html -->

{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<div class="dash-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Admin Dashboard</h1>
                    <h3>System Load</h3>
                    <hr class="intro-divider">
                    <em> Previous 30 seconds system activity </em>
                    <div class="center">
                    <table class="table table-condensed table-bordered table-responsive">
                    <thead>
                      <tr>
                         <th width="10%"> Rec </th>
                         <th width="15%"> CPU Load </th>
                         <th width="25%"> Total Memory </th>
                         <th width="25%"> Used Memory </th>
                         <th width="25%"> Free Memory </th>
                      </tr>
                    </thead>
                   <tbody>
                       <tr>
                         <td> {% for key, value in load.items() %} </td>
                           <tr>
                            <td>{{ key }}</td>
                            <td>{{ value[0] }} %</td>
                            <td>{{ value[1] }} Mb</td>
                            <td>{{ value[2] }} Mb</td>
                            <td>{{ value[3] }} Mb</td>
                           </tr>
                          {% endfor %}
                     </table>
                    <br></br>
                    <h3>Disk Space</h3>
                    <hr class="intro-divider">

                    <table class="table table-condensed table-bordered table-responsive">
                    <thead>
                      <tr>
                         <th width="10%"> Partition </th>
                         <th width="30%"> Total Capacity </th>
                         <th width="30%"> Used Space </th>
                         <th width="30%"> Free Space </th>
                      </tr>
                    </thead>
                     <tbody>
                       <tr>
                         <td> {% for key, value in disks.items() %} </td>
                           <tr>
                            <td>  {{ key }}  </td>
                            <td>{{ value[0] }} Gb</td>
                            <td>{{ value[1] }} Gb</td>
                            <td>{{ value[2] }} Gb</td>
                           </tr>
                    {% endfor %}
                     </tbody>
                     </table>
                    <br></br>
                    <h3>Data Systems</h3>
                    <hr class="intro-divider">

                    <table class="table table-condensed table-bordered table-responsive">
                    <thead>
                      <tr>
                         <th width="75%"> - </th>
                         <th width="25%"> Size </th>
                      </tr>
                    </thead>
                     <tbody>
                       <tr>
                         <td> {% for key, value in data_systems.items() %} </td>
                           <tr>
                            <td> {{ key }} </td>
                            <td> {{ value }} </td>
                           </tr>
                              {% endfor %}
                       </tbody>
                     </table>
                     <br></br>
                     <h3>Database Info</h3>
                     <hr class="intro-divider">

                     <table class="table table-condensed table-bordered table-responsive">
                     <thead>
                       <tr>
                          <th width="50%"> Table </th>
                          <th width="50%"> Size </th>
                       </tr>
                     </thead>
                      <tbody>
                        <tr>
                          <td> {% for key, value in table_stats.items() %} </td>
                            <tr>
                             <td> {{ key }} </td>
                             <td> {{ value }} Records </td>
                            </tr>
                               {% endfor %}
                       </tbody>
                      </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
