<!-- app/templates/admin/folder_gallery/upload.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Select a folder{% endblock %}
{% block body %}

<div class="content-section">
<div class="dash-intro-header">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
        <br/>
          {{ utils.flashed_messages() }}
        <br/>
           <div class="dash-intro-header">
            <h1> Files Utilities</h1>
            <h3> Upload a file</h3>
            <hr class="intro-divider">
            <div class="center">
               <div style="text-align: center">
               <form method = "post" enctype="multipart/form-data">

                {{ form.csrf_token }}
                {{ wtf.quick_form(form) }}
               </form>
             <p class="help-block">Select a file to upload</p>
            <input id="slider1" type="range" min="0" max="50" value="25" /> <br>
             </div>
             </div>
             </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
