<!-- app/templates/admin/folder_gallery/upload.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Select a folder{% endblock %}
{% block body %}

<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
        <br/>
          {{ utils.flashed_messages() }}
        <br/>
            <h1> Files Utilities</h1>
            <h3> Upload a file</h3>
            <hr class="intro-divider">
            <div class="center">
             </div>
               <div style="text-align: center">
               <form method = "post">

                {{ form.csrf_token }}
                {{ wtf.quick_form(form) }}
               </form>
             <p class="help-block">Select a file to upload</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
